{% extends 'base.html'%}
{% block title%}
Asignaciones
{% endblock%}

{% block asignacion_active %}class="active"{% endblock%}
{% block content%}
       <form action="{% url 'asignacion' %}" method="post">
        {% csrf_token %}
        <button type="submit" id="calcular" class="btn btn-info btn-raised btn-block">Calcular</button>
        <table class="table table-responsive table-striped table-hover ">
           
              <input type="hidden" value= "{{size}}" name="data">
              <thead>
              <tr>
                <th class="warning">P/A</th>
                {% for persona in personas %}
                <th class="success">Persona{{ persona }}</th>   
                {% endfor %} 
              </tr>
              </thead>
              <tbody>
              {% for articulo in articulos %}

              <tr>
                <td class="info">Art.{{ articulo }}</td>          
                {% for persona in personas %}
                  <td><input name="#{{persona}}-{{articulo}}" class="form-control sm-input" style="width: 3em;" type="number" step="1" min="0" value="0"></td>
                {% endfor %}          
              </tr>
              {% endfor %}
             <tbody>
            
          </table>
      </form>




  <script type="text/javascript">
$('#calcular').css({
  'position':'fixed',
  // more rules
);
</script>

{% endblock %}
